.chart {
  width: 50%;
}

button {
  height: 32px;
  padding: 0 16px;
  display: flex;
  align-items: center;

  cursor: pointer;
  text-decoration: none !important;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  max-width: 170px;
}
button:hover {
  background-color: grey;
  color: white;
}

.Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  height: 40px;
}

.flex {
  display: flex;
}

input {
  font-size: 12px;
  border: 1px solid black;

  background: inherit;
  color: inherit;
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
  letter-spacing: 0.25px;
}
